*.exe filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
backend/node_modules/ffprobe-static/bin/**/* filter=lfs diff=lfs merge=lfs -text
backend/ffmpeg/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
backend/node_modules/ffmpeg-static/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
