name: CI/CD
on:
push:
branches: [ main ]


jobs:
build:
runs-on: ubuntu-latest
steps:
- uses: actions/checkout@v4


- name: Set up Docker Buildx
uses: docker/setup-buildx-action@v2


- name: Login to ACR
run: echo ${{ secrets.ALIYUN_PASSWORD }} | docker login --username ${{ secrets.ALIYUN_USERNAME }} --password-stdin ${{ secrets.REGISTRY }}


- name: Build and push backend
uses: docker/build-push-action@v4
with:
context: ./backend
push: true
tags: ${{ secrets.REGISTRY }}/backend:latest


- name: Build and push frontend
uses: docker/build-push-action@v4
with:
context: ./frontend
push: true
tags: ${{ secrets.REGISTRY }}/frontend:latest